<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passwordlesslogin</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<div align="center">
 <h2>Passwordlesslogin</h2>
 <form method="post" action="">
    {% csrf_token %}
    {{form}}
             <br/> <hr/>
             <button type="submit"> Login </button> <br/> <hr/>
             <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
             </label> <br/> <hr/>
 </form>
</div>
{% endblock %}

</body>
</html>
